# files
.zshenv
.gitconfig
.local.nvim
.NERDTreeBookmarks
.bash_history
.php-cs-fixer.cache

# folders
vim/dotfiles/.cache
vim/dotfiles/.npm
vim/dotfiles/.local
vim/dotfiles/.vim

vim/dotfiles/.config/*
!vim/dotfiles/.config/nvim/
vim/dotfiles/.config/nvim/*
!vim/dotfiles/.config/nvim/init.vim
!vim/dotfiles/.config/nvim/local.vim.dist
!vim/dotfiles/.config/nvim/lua/
vim/dotfiles/.config/nvim/lua/*
!vim/dotfiles/.config/nvim/lua/pelyib/
