# files
.zshenv
.gitconfig
.local.nvim
.NERDTreeBookmarks
.bash_history
.php-cs-fixer.cache
vim/dotfiles/.config/nvim/lua/local/*.lua
# vim/dotfiles/.config/nvim/lazy-lock.json

# folders
node_modules/
vendor/
dist/

!vim/vendor
