-- Copy this file, remove the .dist extension and adjust the settings to your liking.
-- By default, all plugins are disabled. To enable a plugin, set its `enabled` key to `true`.

return {
	alpha = {
		enabled = false,
	},
	autopairs = {
		enabled = false,
	},
	barbecue = {
		enabled = true,
	},
	codeium = {
		enabled = false,
	},
	comment = {
		enabled = false,
	},
	copilot = {
		enabled = false,
	},
	dapui = {
		enabled = false,
	},
	dap = {
		enabled = false,
	},
	devicons = {
		enabled = false,
	},
	dressing = {
		enabled = false,
	},
	filetype_detection = {
		enabled = false,
	},
	formatter = {
		enabled = false,
	},
	gitblame = {
		enabled = false,
	},
	gruvbox = {
		enabled = false,
	},
	kanagawa = {
		enabled = false,
	},
	lazydev = {
		enabled = false,
	},
	lineindicators = {
		enabled = false,
	},
	lspzero = {
		enabled = false,
	},
	markview = {
		enabled = true,
	},
	navbuddy = {
		enabled = true,
	},
	neoclip = {
		enabled = false,
	},
	neodev = {
		enabled = false,
	},
	neotest = {
		enabled = false,
	},
	neotest_jest = {
		enabled = false,
		setup = {
			jestCommand = "npm run test --detectOpenHandles",
			jestConfigFile = "/path/to/jest.config.ts",
		},
	},
	neotest_phpunit = {
		enabled = false,
		setup = {
			phpunit_cmd = function()
				return "/path/to/dotfiles/vim/vendor/neotest/phpic"
			end,
		},
	},
	neotest_pest = {
		enabled = false,
		setup = {
			sail_enabled = function()
				return false
			end,
			pest_cmd = "/path/to/dotfiles/vim/vendor/neotest/phpic",
		},
	},
	neotree = {
		enabled = false,
	},
	noice = {
		enabled = false,
	},
	notify = {
		enabled = false,
	},
	phpactor = {
		enabled = false,
	},
	phpactornvim = {
		enabled = false,
	},
	phpcsfixer = {
		enabled = false,
	},
	php_test_runner = {
		enabled = false,
	},
	statusline = {
		enabled = false,
	},
	telescope = {
		enabled = false,
	},
	tinyonlinedeiagnostic = {
		enabled = false,
	},
	toggleterm = {
		enabled = false,
	},
	treesitter = {
		enabled = false,
	},
	ufo = {
		enabled = false,
	},
}
