" Load VIM configurations
source ~/.vimrc

" Required plugins
call plug#begin(stdpath('data') . '/plugged')
    Plug 'neoclide/coc.nvim', {'branch': 'release'}
    Plug 'vim-airline/vim-airline'
    Plug 'vim-airline/vim-airline-themes'
    Plug 'tpope/vim-fugitive'
    Plug 'scrooloose/nerdcommenter'
    Plug 'scrooloose/nerdtree'
    Plug 'tpope/vim-surround'
    Plug 'morhetz/gruvbox'
    Plug 'jiangmiao/auto-pairs'
    Plug 'Xuyuanp/nerdtree-git-plugin'
    Plug 'ryanoasis/vim-devicons'
    Plug 'airblade/vim-gitgutter'
    Plug 'junegunn/fzf', { 'do': { -> fzf#install() } }
    Plug 'junegunn/fzf.vim'
    Plug 'adoy/vim-php-refactoring-toolbox'
    Plug 'SirVer/ultisnips'996
    Plug 'elzr/vim-json'
    Plug 'airblade/vim-rooter'
call plug#end()

" Autostart NerdTree
autocmd VimEnter * if argc() == 1 && isdirectory(argv()[0]) && !exists("s:std_in") | exe 'NERDTree' argv()[0] | wincmd p | ene | endif
autocmd VimEnter * if !argc() | NERDTree | endif

" Keep NerdTree open always
let g:NERDTreeQuitOnOpen = 0
let g:NERDTreeWinSize = 45
let g:NERDTreeShowHidden=1

" Use gruvbox colorscheme
let g:airline_theme='gruvbox'
let g:gruvbox_contrast_dark='soft'
colorscheme gruvbox